<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="AllLog" fileName="Logs\nlog-identityPortal-${shortdate}-${machinename}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring,StackTrace,Data:maxInnerExceptionLevel=5}" />

		<target xsi:type="File" name="ErrorLog" fileName="Logs\nlog-identityPortal-error-${shortdate}-${machinename}.log"
			layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring,StackTrace,Data:maxInnerExceptionLevel=5}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="AllLog" >
			<filters defaultAction='Log'>
				<when condition="contains('${message}','resource') and contains('${message}','AuditEvent') " action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Error" writeTo="ErrorLog" >
			<filters defaultAction='Log'>
				<when condition="contains('${message}','resource') and contains('${message}','AuditEvent') " action="Ignore" />
			</filters>
		</logger>
	</rules>

</nlog>
