@using Common.Entities.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="border-bottom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3 padding-y-zero">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">IdentityPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="container-fluid">
                <div class="row pointer-for-fiexedMenu">
                    <div class="ps-0">
                        <nav id="side-navigation" class="navbar navbar-light padding-y-zero" style="background-color: #e3f2fd;">
                            <ul class="nav navbar-nav navbar-nav-menu-size">
                                <li class="nav-item side-navigation-normal">
                                    <a class="nav-link ps-2 side-navigation-normal" href="#"> Home </a>
                                </li>
                                <li class="nav-item dropdown side-navigation-normal">
                                    <a class="nav-link dropdown-toggle ps-2" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown link
                                    </a>
                                    <div class="dropdown-menu cborder-0" aria-labelledby="navbarDropdownMenuLink" style="background-color: #e3f2fd;">
                                        <div class="dropdown-item-wrapper side-navigation-normal">
                                            <a class="dropdown-item side-navigation-normal" href="#">Action</a>
                                        </div>
                                        <div class="dropdown-item-wrapper side-navigation-normal">
                                            <a class="dropdown-item side-navigation-normal" href="#">Another action</a>
                                        </div>
                                        <div class="dropdown-item-wrapper side-navigation-normal">
                                            <a class="dropdown-item side-navigation-normal" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item side-navigation-normal">
                                    <a class="nav-link ps-2 side-navigation-normal" href="#"> Services </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="pe-2">
                        @RenderBody()
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid">
                <div class="px-2">
                    @RenderBody()
                </div>
            </div>
        }
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IdentityPortal - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            site.initialize();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>